// Fonts
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap"); // VT323
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); // Roboto

// Variables
$retro-pink: #f2c4b8;
$retro-blue: #1b227d;
$retro-yellow: #f7bb2e;
$retro-red: #e14842;

// Sass

* {
  padding: 0;
  margin: 0;
  font-family: roboto;
}

body {
  background-color: $retro-pink;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  border-color: #1f279285;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;

  p {
    font-family: VT323;
    color: $retro-blue;
    font-size: 50px;
  }
}

.fixed-desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba($retro-blue, 0.5);
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  p {
    color: $retro-yellow;
    font-size: 20px;
    font-style: italic;
    margin: 5px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($retro-blue, 0.5);
  height: 50px;
  width: 100%;
  margin-top: auto;
  p {
    color: rgba($retro-blue, 0.8);
  }
}

.userMoveContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.rock-img-css-btn,
.paper-img-css-btn,
.scissors-img-css-btn,
.restart-img-css-btn {
  border: 5px solid rgba($retro-blue, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
  transition: 0.5s;

  &:hover {
    opacity: 0.9;
    background-color: $retro-red;
    transform: rotate(-90deg);
  }
  &:active {
    opacity: 0.7;
  }
}

.resultContainer-css {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  border-color: #1f279285;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;

  p {
    font-family: VT323;
    color: $retro-blue;
    font-size: 50px;
  }
}
